{% extends 'base.html.twig' %}

{% block body %}
    <h1>Change FamilyLog "{{ zoneStorage.label }}"</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ include('partials/components/form/_familyLogs-select.thml.twig', {familyLog: form.familyLog}) }}

    <div class="grid">
        <a role="button" href="{{ path('admin_zone_storages_index') }}" class="secondary">Annuler</a>
        <button type="submit">Change FamilyLog</button>
    </div>

    {{ form_end(form) }}

{% endblock %}

