{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create Zone Storage</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.label) }}

    {{ include('partials/components/form/_familyLogs-select.thml.twig', {familyLog: form.familyLog}) }}

    <div class="grid">
        <a href="{{ path('admin_zone_storages_index') }}" class="secondary" >Annuler</a>
        <button type="submit">Create</button>
    </div>

    {{ form_end(form) }}

{% endblock %}
