{% extends 'base.html.twig' %}

{% block body %}
    <h1>Change label "{{ form.vars.value.label }}"</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.label) }}

    <div class="grid">
        <a role="button" href="{{ path('admin_family_logs_index') }}" class="secondary">Annuler</a>
        <button type="submit">Update</button>
    </div>

    {{ form_end(form) }}

{% endblock %}

